/* csss blend mode */

/* body{
    background-image: url("img.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-color: red;
    background-blend-mode:darken;
    max-width: 50vw;
    height: 50vh;
    width: 100vw;
    margin: auto;
    overflow: hidden;
} */